/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto';
  padding-left: 120px;
  padding-top: 70px;
}

@media screen and (max-width: 576px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  }
}

.main-heading {
  font-size: 40px;
  margin-left: 70px;
}

@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 20px;
  }
}

.main-container {
  width: 350px;
  height: 300px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .main-container {
    height: 150px;
    width: 500px;
    font-size: 20px;
  }
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-container {
  display: flex;
}

.timer-image {
  height: 25px;
  width: 25px;
  margin-top: 25px;
}

.timer {
  font-size: 25px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.timer-clock {
  font-size: 60px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

button {
  color: #ffffff;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border-width: 0px;
}

.startBtn {
  background-color: #1db05f;
}
.stopBtn {
  background-color: #ef0d36;
}
.resetBtn {
  background-color: #eaa800;
}
